/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-abr-2015, 10:10:34
    Author     : irenenovo
*/

:invalid { 
    /*border-color: #e88;
    -webkit-box-shadow: 0 0 5px rgba(255, 0, 0, .8);
    -moz-box-shadow: 0 0 5px rbba(255, 0, 0, .8);
    -o-box-shadow: 0 0 5px rbba(255, 0, 0, .8);
    -ms-box-shadow: 0 0 5px rbba(255, 0, 0, .8);
    box-shadow:0 0 5px rgba(255, 0, 0, .8);*/
}

:required {
    border-color: #88a;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
    -o-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
    -ms-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
    box-shadow: 0 0 5px rgba(0, 0, 255, .5);
}

h1{
    text-align: center;
}

form {
    width:300px;
    margin: 20px auto;
}

input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border:1px solid #ccc;
    font-size:20px;
    width:300px;
    min-height:30px;
    display:block;
    margin-bottom:15px;
    margin-top:5px;
    outline: none;

    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;
    -ms-border-radius:5px;
    border-radius:5px;
}

input[type=submit] {
    background:none;
    padding:10px;
}